.container {
    border: 1px solid black;
}

.header {
    border: 1px solid black;
}

.navbar-logo {
    border: 1px solid black;
}

.navbar-elements {
    border: 1px solid black;
}

section {
    height: 600px;
    border: 1px solid black;
}

.footer {
    border: 1px solid black;
}

.footer-content-blocks {
    border: 1px solid black;
    height: 100px;
}

.footer-content {
    border: 1px solid black;
    height: 50px;
    flex-grow: 1;
}